In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
from shapely.geometry import Point
from shapely import geometry
import fiona as fio
import math

In [5]:
census = pd.read_csv("C:\\Users\\Bruno Santos\\Documents\\GitHub\\RDC\\data\\synthetic_data\\census_2021\\census_2021_synthetic.csv")

In [6]:
census

,FRAME_ID,PRCDDA,PR,CMA,PCD,COMPW1,EMPLOYED,CFINC,CFCNT,CF_PNCF_NUMEARNERS,PWDA,PWPR,PWCD,PWCMA,PWDUR,PWDIST,PWMODE,PWMODE2,PWMODE3
0,1,10010180,10,1,1,2255,1,160557,5,3,10010841,10,1,1,43.0,3898.0,7,3,1
1,2,10010570,10,1,1,824,1,17083,5,3,10010741,10,1,999,84.0,30735.0,2,3,3
2,3,10010646,10,1,1,2136,1,190375,4,2,10010834,10,1,1,40.0,3639.0,7,3,3
3,4,10010629,10,1,1,762,1,64588,4,3,10010556,10,1,999,47.0,14122.0,6,7,9
4,5,10010165,10,1,1,843,1,20460,3,1,10010553,10,1,999,106.0,31810.0,6,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199996,24210062,24,999,21,579,1,22564,4,3,24220037,24,22,421,118.0,43236.0,1,6,7
199996,199997,24210062,24,999,21,330,1,77976,5,4,24260065,24,26,423,159.0,58180.0,1,7,1
199997,199998,24210062,24,999,21,1616,1,154978,5,3,24340076,24,34,999,158.0,57876.0,1,7,1
199998,199999,24210062,24,999,21,138,1,18622,4,3,24210061,24,21,421,54.0,19768.0,1,6,3
199999,200000,24210062,24,999,21,561,2,118492,5,3,-3,-3,-3,-3,-3.0,-3.0,-3,-3,-3

In [17]:
census['PCD'] = census['PRCDDA'].astype(str).str.slice(0, 4)

In [18]:
census['PCD']

0         1001
1         1001
2         1001
3         1001
4         1001
          ...
199995    2421
199996    2421
199997    2421
199998    2421
199999    2421
Name: PCD, Length: 200000, dtype: object

In [21]:
census_toronto = census[census['PCD'] == '3520']

In [22]:
census_toronto

,FRAME_ID,PRCDDA,PR,CMA,PCD,COMPW1,EMPLOYED,CFINC,CFCNT,CF_PNCF_NUMEARNERS,PWDA,PWPR,PWCD,PWCMA,PWDUR,PWDIST,PWMODE,PWMODE2,PWMODE3
67393,67394,35204479,35,535,3520,867,1,135111,3,1,35240952,35,24,535,99.0,29581.0,6,3,3
67396,67397,35203324,35,535,3520,538,1,186544,4,2,35190985,35,19,535,78.0,23490.0,3,1,7
67398,67399,35203047,35,535,3520,1190,1,199769,3,2,35250942,35,25,537,158.0,57776.0,9,3,8
67399,67400,35202655,35,535,3520,1168,1,66773,4,2,35202810,35,20,535,40.0,3635.0,7,4,3
67401,67402,35204146,35,535,3520,770,1,147876,3,1,35181014,35,18,532,134.0,49133.0,1,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199209,199210,35201582,35,999,3520,1905,2,97175,5,3,-3,-3,-3,-3,-3.0,-3.0,-3,-3,-3
199215,199216,35204873,35,999,3520,352,1,99108,4,3,35191163,35,19,535,157.0,47179.0,3,3,7
199218,199219,35203230,35,999,3520,2196,1,154321,4,3,35204733,35,20,535,74.0,22068.0,3,6,2
199223,199224,35203788,35,999,3520,2015,1,20663,5,4,35202413,35,20,535,59.0,17595.0,3,3,1
199224,199225,35204182,35,999,3520,1647,1,42934,3,2,35200468,35,20,535,37.0,5924.0,10,1,1